.m-0 {
  margin: 0rem;
}

.mt-0 {
  margin-top: 0rem;
}

.mb-0 {
  margin-bottom: 0rem;
}

.ms-0 {
  margin-left: 0rem;
}

.me-0 {
  margin-right: 0rem;
}

.mx-0 {
  margin-left: 0rem;
  margin-right: 0rem;
}

.my-0 {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.p-0 {
  padding: 0rem;
}

.pt-0 {
  padding-top: 0rem;
}

.pb-0 {
  padding-bottom: 0rem;
}

.ps-0 {
  padding-left: 0rem;
}

.pe-0 {
  padding-right: 0rem;
}

.px-0 {
  padding-left: 0rem;
  padding-right: 0rem;
}

.py-0 {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.m-1 {
  margin: 0.25rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.ms-1 {
  margin-left: 0.25rem;
}

.me-1 {
  margin-right: 0.25rem;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.p-1 {
  padding: 0.25rem;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.ps-1 {
  padding-left: 0.25rem;
}

.pe-1 {
  padding-right: 0.25rem;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.ms-2 {
  margin-left: 0.5rem;
}

.me-2 {
  margin-right: 0.5rem;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.p-2 {
  padding: 0.5rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.ps-2 {
  padding-left: 0.5rem;
}

.pe-2 {
  padding-right: 0.5rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.m-3 {
  margin: 0.75rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.ms-3 {
  margin-left: 0.75rem;
}

.me-3 {
  margin-right: 0.75rem;
}

.mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.p-3 {
  padding: 0.75rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.ps-3 {
  padding-left: 0.75rem;
}

.pe-3 {
  padding-right: 0.75rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.m-4 {
  margin: 1rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.ms-4 {
  margin-left: 1rem;
}

.me-4 {
  margin-right: 1rem;
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.p-4 {
  padding: 1rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.ps-4 {
  padding-left: 1rem;
}

.pe-4 {
  padding-right: 1rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.m-5 {
  margin: 1.25rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.ms-5 {
  margin-left: 1.25rem;
}

.me-5 {
  margin-right: 1.25rem;
}

.mx-5 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.p-5 {
  padding: 1.25rem;
}

.pt-5 {
  padding-top: 1.25rem;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.ps-5 {
  padding-left: 1.25rem;
}

.pe-5 {
  padding-right: 1.25rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.m-6 {
  margin: 1.5rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.ms-6 {
  margin-left: 1.5rem;
}

.me-6 {
  margin-right: 1.5rem;
}

.mx-6 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.my-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.p-6 {
  padding: 1.5rem;
}

.pt-6 {
  padding-top: 1.5rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.ps-6 {
  padding-left: 1.5rem;
}

.pe-6 {
  padding-right: 1.5rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.m-7 {
  margin: 1.75rem;
}

.mt-7 {
  margin-top: 1.75rem;
}

.mb-7 {
  margin-bottom: 1.75rem;
}

.ms-7 {
  margin-left: 1.75rem;
}

.me-7 {
  margin-right: 1.75rem;
}

.mx-7 {
  margin-left: 1.75rem;
  margin-right: 1.75rem;
}

.my-7 {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}

.p-7 {
  padding: 1.75rem;
}

.pt-7 {
  padding-top: 1.75rem;
}

.pb-7 {
  padding-bottom: 1.75rem;
}

.ps-7 {
  padding-left: 1.75rem;
}

.pe-7 {
  padding-right: 1.75rem;
}

.px-7 {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

.py-7 {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.m-8 {
  margin: 2rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.ms-8 {
  margin-left: 2rem;
}

.me-8 {
  margin-right: 2rem;
}

.mx-8 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.p-8 {
  padding: 2rem;
}

.pt-8 {
  padding-top: 2rem;
}

.pb-8 {
  padding-bottom: 2rem;
}

.ps-8 {
  padding-left: 2rem;
}

.pe-8 {
  padding-right: 2rem;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.m-9 {
  margin: 2.25rem;
}

.mt-9 {
  margin-top: 2.25rem;
}

.mb-9 {
  margin-bottom: 2.25rem;
}

.ms-9 {
  margin-left: 2.25rem;
}

.me-9 {
  margin-right: 2.25rem;
}

.mx-9 {
  margin-left: 2.25rem;
  margin-right: 2.25rem;
}

.my-9 {
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
}

.p-9 {
  padding: 2.25rem;
}

.pt-9 {
  padding-top: 2.25rem;
}

.pb-9 {
  padding-bottom: 2.25rem;
}

.ps-9 {
  padding-left: 2.25rem;
}

.pe-9 {
  padding-right: 2.25rem;
}

.px-9 {
  padding-left: 2.25rem;
  padding-right: 2.25rem;
}

.py-9 {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
}

.m-10 {
  margin: 2.5rem;
}

.mt-10 {
  margin-top: 2.5rem;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.ms-10 {
  margin-left: 2.5rem;
}

.me-10 {
  margin-right: 2.5rem;
}

.mx-10 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.my-10 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.p-10 {
  padding: 2.5rem;
}

.pt-10 {
  padding-top: 2.5rem;
}

.pb-10 {
  padding-bottom: 2.5rem;
}

.ps-10 {
  padding-left: 2.5rem;
}

.pe-10 {
  padding-right: 2.5rem;
}

.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.m-11 {
  margin: 2.75rem;
}

.mt-11 {
  margin-top: 2.75rem;
}

.mb-11 {
  margin-bottom: 2.75rem;
}

.ms-11 {
  margin-left: 2.75rem;
}

.me-11 {
  margin-right: 2.75rem;
}

.mx-11 {
  margin-left: 2.75rem;
  margin-right: 2.75rem;
}

.my-11 {
  margin-top: 2.75rem;
  margin-bottom: 2.75rem;
}

.p-11 {
  padding: 2.75rem;
}

.pt-11 {
  padding-top: 2.75rem;
}

.pb-11 {
  padding-bottom: 2.75rem;
}

.ps-11 {
  padding-left: 2.75rem;
}

.pe-11 {
  padding-right: 2.75rem;
}

.px-11 {
  padding-left: 2.75rem;
  padding-right: 2.75rem;
}

.py-11 {
  padding-top: 2.75rem;
  padding-bottom: 2.75rem;
}

.m-12 {
  margin: 3rem;
}

.mt-12 {
  margin-top: 3rem;
}

.mb-12 {
  margin-bottom: 3rem;
}

.ms-12 {
  margin-left: 3rem;
}

.me-12 {
  margin-right: 3rem;
}

.mx-12 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.my-12 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.p-12 {
  padding: 3rem;
}

.pt-12 {
  padding-top: 3rem;
}

.pb-12 {
  padding-bottom: 3rem;
}

.ps-12 {
  padding-left: 3rem;
}

.pe-12 {
  padding-right: 3rem;
}

.px-12 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.btnWidget {
  padding: 10px 20px;
  border-color: #b61984;
  border-radius: 30px;
  margin: 0 10px;
  font-size: 20px;
  background-color: #b61984;
  color: #fff;
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
}
.btnWidget:focus, .btnWidget:hover {
  color: #b61984;
}
.btnWidget:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  color: #b61984;
  background: #fff;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.5s;
  border-radius: 50%;
  z-index: 0;
}
.btnWidget:hover:before {
  transform: translate(-50%, -50%) scale(1);
}
.btnWidget span {
  position: relative;
  z-index: 1;
}

body {
  background-image: url(/assets/img/yellow_top_wave_01.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  max-height: -moz-max-content;
  max-height: max-content;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container .logo img {
  position: none;
  width: 100px;
  height: auto;
}
.header .container .menuContent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.header .container .menuContent .menu {
  display: flex;
  justify-content: center;
  flex: 1;
}
.header .container .menuContent .menu a {
  margin-left: 45px;
  text-decoration: none;
  color: #000;
  position: relative;
}
.header .container .menuContent .menu a:hover {
  color: #b61984;
  transition: color 0.5s;
}
.header .container .menuContent .menu a.active::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #b61984;
}
.header .container .menuContent .MenuRight {
  display: flex;
  align-items: center;
}
.header .container .menuContent .MenuRight .btnWidget {
  margin-right: 15px;
}
.header .container .menuContent .MenuRight .menuRight,
.header .container .menuContent .MenuRight .btIconWidget {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}
.header .container .menuContent .MenuRight .menuRight span,
.header .container .menuContent .MenuRight .btIconWidget span {
  font-size: 20px;
  color: #000;
}
.header .container .menuContent .MenuRight .menuRight span:hover,
.header .container .menuContent .MenuRight .btIconWidget span:hover {
  color: #b61984;
}

.carousel {
  background-image: url(/assets/img/Violet_top_left_wave.png);
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 110px 0;
}
.carousel .container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.carousel .container .carousel-left h3 {
  color: #b61984;
  font-size: 25px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.carousel .container .carousel-left p {
  width: 80%;
  color: #000;
  font-size: 70px;
}
.carousel .container .carousel-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .container .carousel-right img {
  max-width: 100%;
  height: auto;
}

.about-us {
  position: relative;
  padding: 60px 0;
}
.about-us::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/assets/img/Violet_top_left_wave.png);
  background-repeat: no-repeat;
  background-size: cover;
  transform: scaleY(-1);
  z-index: -1;
}
.about-us .container .card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}
.about-us .container .card-grid .card {
  text-align: center;
  background-color: #fff;
  border-radius: 30px;
  overflow: hidden;
  padding-bottom: 60px;
  transition: all 0.5s;
}
.about-us .container .card-grid .card:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.about-us .container .card-grid .card img {
  width: 100%;
  transition: all 0.5s;
}
.about-us .container .card-grid .card img:hover {
  transform: scale(1.05);
}
.about-us .container .card-grid .card span {
  color: #b61984;
  font-weight: bold;
  margin-top: 25px;
  display: block;
}
.about-us .container .card-grid .card h3 {
  color: #000;
  font-size: 25px;
  font-weight: bold;
  padding: 10px 0 15px 0;
}
.about-us .container .card-grid .card p {
  color: gray;
  font-size: 20px;
  line-height: 35px;
}

.Course {
  background-image: url(/assets/img/accent_bottom_wave_01.png);
  background-position: bottom;
  background-repeat: no-repeat;
  padding: 60px 0;
}
.Course .container {
  display: flex;
  align-items: center;
}
.Course .container .imge {
  text-align: center;
}
.Course .container .imge img {
  max-width: 100%;
  height: auto;
}
.Course .container .content_right {
  padding-left: 50px;
}
.Course .container .content_right .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #fff;
  padding: 80px 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}
.Course .container .content_right .form h1 {
  font-size: 40px;
  margin-bottom: 20px;
  color: #000;
  text-align: center;
}
.Course .container .content_right .form .name-email {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.Course .container .content_right .form .name-email .name-input,
.Course .container .content_right .form .name-email .email-input {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 30px;
}
.Course .container .content_right .form .name-email .name-input i,
.Course .container .content_right .form .name-email .email-input i {
  margin-right: 10px;
  font-size: 18px;
  color: #b61984;
}
.Course .container .content_right .form .name-email .name-input input,
.Course .container .content_right .form .name-email .email-input input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
}
.Course .container .content_right .form .english {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 30px;
  padding-right: 20px;
}
.Course .container .content_right .form .english i {
  font-size: 18px;
  color: #b61984;
  margin-right: 10px;
}
.Course .container .content_right .form .english select {
  padding: 10px;
  border: none;
  flex: 1;
  outline: none;
  font-size: 16px;
}
.Course .container .content_right .form .message {
  margin-bottom: 20px;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 30px;
  padding: 10px 25px;
}
.Course .container .content_right .form .message i {
  font-size: 18px;
  color: #b61984;
  margin-right: 0px;
  padding-top: 10px;
}
.Course .container .content_right .form .message textarea {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  resize: vertical;
  font-size: 16px;
}
.Course .container .content_right .form .btnWidget {
  width: 150px;
}

.footer {
  background-image: url(/assets/img/footer_background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0 250px;
  color: #fff;
}
.footer .container {
  display: flex;
  justify-content: space-between;
}
.footer .container h1 {
  color: #fff;
  font-size: 25px;
  margin-bottom: 20px;
}
.footer .container .contact .item {
  display: flex;
  margin-bottom: 20px;
  color: #fff;
}
.footer .container .contact .item i {
  margin-right: 10px;
}
.footer .container .contact .social {
  display: flex;
}
.footer .container .contact .social a {
  color: #fff;
  margin-right: 10px;
  transition: color 0.3s;
}
.footer .container .contact .social a:hover {
  color: #000;
}
.footer .container .link a,
.footer .container .about a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 10px;
  display: block;
}
.footer .container .link a:hover,
.footer .container .about a:hover {
  color: #b61984;
}
.footer .container .newsletter {
  display: flex;
  flex-direction: column;
}
.footer .container .newsletter input {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  background-color: transparent;
  color: #fff;
  text-align: center;
}
.footer .container .newsletter input::-moz-placeholder {
  color: #fff;
}
.footer .container .newsletter input::placeholder {
  color: #fff;
}
.footer .container .newsletter input:focus {
  border: 1px solid #fff;
}/*# sourceMappingURL=index.css.map */